APP_KEY=
APP_DEBUG=false
APP_ENV=production
APP_TYPE=ss3

web_database=gpswox_web
web_username=root
web_password=

traccar_database=gpswox_traccar
traccar_username=root
traccar_password=
APP_URL=http://your-domain.com
FCM_SENDER_ID=

padding_top=5
google_api_key=

server=your-server-ip
LOG_CHANNEL=daily
LOG_PATH=storage/logs
LOG_LEVEL=debug

key=
admin_user=

CACHE_DRIVER=file
SESSION_DRIVER=file
GEOCODER_CACHE_DRIVER=array
QUEUE_CONNECTION=sync

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gpswox_web
DB_USERNAME=root
DB_PASSWORD=
